
:root {
    --bg: #00223D;
    --fg: #8d9499;
    /*--black: $(xquery color0);
    --xcolor8: $(xquery color8);*/
    --red: #d01d35;
    --green: #3e991a;
    --orange: #e25526; /*$(pastel mix $(xquery color1) $(xquery color3) | pastel format hex);*/
    --yellow: #b99916;
    --blue: #1764ff;
    --magenta: #e72685;
    --cyan: #2ca6e2;
    --grey: #8d9499;
    /*--xcolor15: $(xquery color15);*/
}

html {
	font-size: 93% !important;
}
* {
	font-family: "Victor Mono" !important;
}

.theme-dark,
.theme-light,
:root {
    --font-primary: "Victor Mono" !important;
    --font-display: "Noto Sans Display" !important;
    --background-primary: var(--bg) !important;
    --background-secondary: var(--bg) !important; /*$(pastel mix $(xquery background) $(xquery color0) | pastel format hex) !important;*/
    --background-secondary-alt: var(--bg) !important;
    --background-tertiary: var(--bg) !important;
    --background-accent: #002a4c !important;
    --background-message-hover: #002a4c !important;
    --background-floating: var(--bg) !important;

    --channeltextarea-background: var(--background-accent) !important;

    --channels-default: var(--grey) !important;
    --text-muted: #646566 !important;
    --text-normal: var(--fg) !important;
    --text-link: var(--blue) !important;
    --interactive-normal: var(--grey) !important;
    --interactive-hover: var(--fg) !important;
    --interactive-active: #cccccc !important;
    --interactive-muted: #646566 !important;

    --header-primary: var(--fg) !important;
    --header-secondary: var(--fg) !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-border: var(--background-tertiary) !important;
}

div#online-tab {
    background-color: var(--bg) !important;
}
div.inner-2pOSmK {
    background-color: var(--bg) !important;
}

/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.hljs {
  background: #002a4c !important;
  color: #8d9499 !important;
}

.hljs-comment,
.hljs-quote {
  color: #646566 !important;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #3e991a !important;
}

.hljs-keyword, .hljs-meta {
  font-style: italic;
  font-weight: bold;
}
.hljs-comment {
  font-style: italic;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2ca6e2 !important;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #1764ff !important;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-title.class_,
.hljs-class .hljs-title,
.hljs-type {
  color: #b99916 !important;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #e25526 !important;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #d01d35 !important;
}

.hljs-formula {
  background: #002a4c !important;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

code.hljs:not(.inline)::before {
    content: attr(class) !important;
    float: right;
    display: block;
    width: auto;
    max-width:  5.3rem !important;
    min-width:  auto;
    margin-top: -8.6rem !important;
    line-height: 1.6rem !important;
    overflow-x: hidden;
    scrollbar-width: none;
    text-align: right;
    font-size: 0.8rem;
    opacity: 0.6;
}
/* Makes scrollbar less cringe  */
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece, .scroller-2FKFPG::-webkit-scrollbar-track-piece{
  border: 0;
  margin-right: 0px;
  background-color: #2e3440;
  width:20px;
}
.auto-Ge5KZx::-webkit-scrollbar-thumb, .auto-Ge5KZx::-webkit-scrollbar-track {
  border-right:  0px solid transparent;
  border-left:  8px solid transparent;
  border-radius: 2px;
}
/* Makes the message box a rectangle */

/* Puts the Home button in a reasonable area */
ul[data-list-id="guildsnav"] > div[class^="scroller"] {
    padding-top: 0 !important;
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child > div {
    box-shadow: var(--elevation-low);
}

ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:first-child + div > div[class^="guildSeparator"] {
    display: none; /* separator */
}

div[href="/channels/@me"]:not(:hover) > div {
    background-color: transparent !important;
}
